[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gurobipy = "*"
gurobipy-stubs = "*"
networkx = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
tqdm = "*"
pynvim = "*"
matplotlib = "*"
basemap = "*"
pandas = "*"

[dev-packages]

[requires]
