[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gurobipy = "*"
pynvim = "*"
gurobipy-stubs = "*"
networkx = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
